{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    {% if title %}
    <title>Netlifer - {{title}}</title>
    {% else %}
    <title>Netlifer</title>
    {% endif %}
    {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/movies.css' %}">
    {% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container-xxl">

        {% block content %}
        

        {% endblock %}
        
    </div>
    

    {% block js_block %}
        {% bootstrap_javascript %}
        <script src="{% static 'js/movies.js' %}"></script>
    {% endblock %}    
</body>
</html>